
.myInput {
    display: none;
}

.myInputLabel {
    height: 40px;
    /*width: 120px;*/
    border-radius: 6px;
    border: 1px dashed #999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myInputLabel:hover {
    color: #4a6bef;
    border: 1px dashed #4a6bef;
}
