.contentWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.tableWrapper {
    width: 80vw;
    margin-top: 20px;
}

.tableHead {
    font-weight: bold;
    font-size: 25px;
}