*{
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #e1ece5;
}

.usersTableWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}